<div id="container">
  <!-- Button pentru generarea notificării -->
  <button class="btn-generate" (click)="scheduleNotification()">Generează Notificare</button>

  
  <div class="contact">
    <button (click)="openDialer(phoneNumber)">📞 Sună</button>
  </div>
  <!-- Lista de task-uri -->

  <ul class="task-list">
    @for (task of tasks; track task.id;) {
      <li class="task-item">
        <div class="task-label">
          <h2>{{ task.title }}</h2>
          <p>{{ task.description }}</p>
          <p>{{ task.datetime | date: 'short' }}</p>
        </div>
      </li>
    }
    @empty {
      <span>The collection is empty</span>
    }
    </ul>
</div>